<launch>
    <arg name="use_viewport" default="True"/>
    <!-- Parametros de nodes de cor e aruco -->
    <group ns="detectors">
        
        <node name="red_cube_finder" pkg="opencv_open" type="simulated_colored_cubes.py" args="" output="screen">
            <param name="color_name" type="string" value="red" />
            <param name="viewport" type="bool" value="$(arg use_viewport)" />
        </node>
        
        <node name="green_cube_finder" pkg="opencv_open" type="simulated_colored_cubes.py" args="" output="screen">
            <param name="color_name" type="string" value="green" />
            <param name="viewport" type="bool" value="$(arg use_viewport)" />
        </node>
        
        <node name="blue_cube_finder" pkg="opencv_open" type="simulated_colored_cubes.py" args="" output="screen">
            <param name="color_name" type="string" value="blue" />
            <param name="viewport" type="bool" value="$(arg use_viewport)" />
        </node>

        <node name="yellow_cube_finder" pkg="opencv_open" type="simulated_colored_cubes.py" args="" output="screen">
            <param name="color_name" type="string" value="yellow" />
            <param name="viewport" type="bool" value="$(arg use_viewport)" />
        </node>
        
        <node name="aruco_cube_finder" pkg="opencv_open" type="webcam_sub_aruco.cpp" args="" output="screen">
            <param name="viewport" type="bool" value="$(arg use_viewport)" />
        </node>
        
        <node name="cube_organizer" pkg="opencv_open" type="cubo_organizer.py" args="" output="screen">
        </node>
        
    </group>
</launch>