<launch>

  <arg name="model" default="$(find urdf_package)/urdf/real_robot.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_package)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!--<include file="$(find realsense2_camera)/launch/rs_t265.launch"/>-->

  <!---->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 
  -->
  <node name="t265_to_base" pkg="tf" type="static_transform_publisher" args=" -0.1435 0 0 -1.57 0 0 /t265_pose_frame /base_link 4" required="true" /> 
   
  <node name="t265_to_map" pkg="tf" type="static_transform_publisher" args=" 0 0 0 0 0 0 /t265_odom_frame /map 4 " required="true" />
</launch>
